.decouvrir{
    
}

.annonce_detail{
    margin-top: 100px;
}
.img-detail{
    width: 690px;
    height: 430px;
}

.new {
    margin-top: 200px ;
}

.room {
    margin-bottom: 30PX;
}
div .login {
    margin-top: 400px;
}